header{
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 0, 150, 0.3)),url(/images/ferrari-f1.jpg);
    height:700px;
    color:#fff;
    text-shadow: 1px 1px 3px #000;
    text-align:center !important;
    }
header .btn-outline-secondary{
    border:solid .5px #fff !important;
    color:#fff
}

.stats td{
    padding:15px;
    background-color:#fff !important;
    text-align: center;
  }
  .table.table-primary thead th{
    background-color:#000 !important;
    color:#fff;
    padding:15px;
    text-align: center;
  }
  
  table.table.table-primary{
    width:850px;
  }

  div.col.input{
    width:200px !important;
    flex:none;
  }